:root {
    --screen-height: 100px;
}

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.device-height {
    /* min-height: 754px; */
    /* min-height: 888px; */
    min-height: var(--screen-height);
    padding-bottom: 20px;
}

.fixed-height {
    position: fixed;
    /* height: 100%; */
    height: var(--screen-height);
    overflow: hidden;
}

body {
    overscroll-behavior-y: contain;
}

.status-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 10px;
}

.status-bar-version {
    position: fixed;
    bottom: 0px;
    height: 10px;
    padding-left: 10px;
    padding-right: 300px;
    color: white;
    background: linear-gradient(to right, rgba(77, 0, 0, 0.766) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 100%;
    font-size: 9px;
    font-weight: 800;
    line-height: 10px;
}


@media only screen and (max-height: 700px) {
    .status-bar {
        display: none !important;
    }

    .status-bar-version {
        display: none;
    }
}

.list-item {
    padding: 10px;
    height: 100%;
    border-radius: 12px;
    border-width: 1px;
    border-color: grey;
    width: 100%;
    background-color: white;
}

.list-item:active {
    border-width: 2px;
    padding: 9px;
}

.item {
    border-radius: 12px;
    width: 100%;
    height: 45px;
    margin-bottom: 3px;
    position: relative;
    pointer-events: auto;
    /* transform-origin: 50% 50% 0px; */
    box-sizing: border-box;
    display: grid;
    align-items: center;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

.fg {
    cursor: -webkit-grab;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}

/* .fg:active div {
    display: none;
} */

.fg:active {
    cursor: -webkit-grabbing;
}

/* .fg>* {
    pointer-events: none;
} */

.av {
    margin-left: 2px;
    margin-right: 2px;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.362);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container-1 {
    background: linear-gradient(135deg, hsla(113, 100%, 25%, 0.442) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.input-container-2 {
    background: linear-gradient(135deg, hsl(165, 100%, 25%, 0.45) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.input-container-3 {
    background: linear-gradient(135deg, hsl(195, 100%, 25%, 0.45) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.input-container-4 {
    background: linear-gradient(135deg, hsl(243, 100%, 25%, 0.45) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.input-container-5 {
    background: linear-gradient(135deg, hsl(275, 100%, 25%, 0.45) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.input-container-6 {
    background: linear-gradient(135deg, hsl(300, 100%, 25%, 0.45) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.input-container {
    background-size: 300%;
    border: 1;
    border-color: black;
}

.input-container:not(:focus-within) {
    opacity: 0.8;
    border-color: transparent;
}

input {
    background-color: white;
    opacity: 1 !important;
}

.autocomplete-error {
    margin-top: 10px;
}

.back-header .back-button-container {
    background-color: rgba(0, 0, 0, 0.03);
    background-size: 100%;
    border-width: 0px;
    border-color: black;
    border-radius: 15px;
    padding: 2px 5px 5px 5px;
}

.back-header .back-button-container:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.page-container {
    background: linear-gradient(180deg, hsl(219, 69%, 45%, 0.15) 0%, rgba(255, 255, 255, 1) 100%);
}